.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 300px;
  background: white;
  height: 115vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid #7d7c7c44;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #7d7c7c44;
  padding: 16px;
}

.sidebar ul li:last-child {
  border-bottom: none;
}

.job-list .job {
  padding: 15px;
  border-left: 5px solid transparent;
  margin-bottom: 10px;
  cursor: pointer;
}

.job-list .job.active {
  background: #fff3d2;
  border-left: 5px solid #f7931e;
}

.job {
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.job-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.job-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.job-text h4 {
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  font-size: 16px;
  color: #f7931e;
}

.job-text p {
  margin-bottom: 0.1rem;
  margin-left: 0.2rem;
  font-size: 13px;
  color: #555;
}

.main {
  flex: 1;
  padding: 20px;
}

.job-detail {
  display: none;
}

.job-detail.active {
  display: block;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.1rem;
}

.job-company-info {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  margin-left: 1rem;
}

.job-header-logo {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  mix-blend-mode: multiply;
}

.job-text-group {
  display: flex;
  flex-direction: column;
}

.company-name {
  margin-top: 0.3rem;
  margin-left: 1rem;
  font-weight: bold;
  color: #444;
  font-size: 14px;
}

.job-title {
  font-size: 40px;
  color: #f7931e;
  margin-left: 0.9rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
}

.time-posted {
  font-size: 12px;
  color: #7d7c7c;
  margin-top: 1.5rem;
}

pre {
  margin-left: 1.8rem;
  margin-top: -0.3rem;
  color: #444;
}

b {
  font-size: 18px;
  margin-bottom: 0.3rem;
}

.salary {
  color: #2ecc71;
}

.contact-person {
  margin-left: 5.8rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.contact-person h3 {
  color: #444;
}

.contact-person span {
  color: #444;
}

.contact-person a {
  height: fit-content;
  width: fit-content;
}

.client {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 0.5rem;
}

.client-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.client span {
  margin-right: 44rem;
}

.contact-btn {
  padding: 6px 12px;
  background-color: white;
  border: solid;
  border-width: 1px;
  color: #f7931e;
  border-radius: 5px;
  cursor: pointer;
  border-color: #f7931e;
  height: 100%;
  margin-right: 1rem;
}

.profile-icon {
  position: relative;
  display: inline-block;
}

.profile-icon img {
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.profile-dropdown {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  margin-top: 5px;
}

.profile-dropdown.show {
  display: block;
}

.profile-dropdown a {
  color: #303030;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.profile-dropdown a:hover {
  background-color: #f1f1f1;
  color: #ef8508;
}

.profile-dropdown a:first-child {
  border-radius: 8px 8px 0 0;
}

.profile-dropdown a:last-child {
  border-radius: 0 0 8px 8px;
}
