.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 300px;
  background: white;
  height: 105vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 1px solid #7d7c7c44;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  border-bottom: 1px solid #7d7c7c44;
  padding: 16px;
}

.sidebar ul li:last-child {
  border-bottom: none;
}

.job-list .job {
  padding: 15px;
  border-left: 5px solid transparent;
  margin-bottom: 10px;
  cursor: pointer;
}

.job-list .job.active {
  background: #fff3d2;
  border-left: 5px solid #f7931e;
}

.job {
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.job-content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.job-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  mix-blend-mode: multiply;
}

.job-text h4 {
  margin-bottom: 0.3rem;
  margin-left: 0.2rem;
  font-size: 16px;
  color: #f7931e;
}

.job-text p {
  margin-bottom: 0.1rem;
  margin-left: 0.2rem;
  font-size: 13px;
  color: #555;
}

.main {
  flex: 1;
  padding: 20px;
}

.job-detail {
  display: none;
}

.job-detail.active {
  display: block;
}

.submit-header {
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: #444;
}

.client-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.proposal-form {
  padding: 1rem;
}

.proposal-form input,
.proposal-form textarea {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  border-color: #7d7c7c4d;
  border-width: 1.5px;
  margin-left: 1rem;
  background-color: #ededed;
}

label {
  margin-left: 1rem;
  color: #444;
}

.upload {
  margin-left: 1rem;
}

.upload p {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.upload a {
  color: #444;
  text-decoration: underline;
}

.submit-proposal-btn {
  margin-left: -3.4rem;
}

button {
  background-color: #f7931e;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 3px #a6a6a630;
  transition: background 0.3s;
  margin-left: 70px;
  margin-bottom: 20px;
}

button:hover {
  background-color: #ffeea8;
  color: #f7931e;
}
